.app {
	margin: 50px auto;
	max-width: 1000px;
	box-sizing: border-box;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	box-sizing: border-box;
}

.mycontainer {
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 420px) {
	.app {
		padding-right: 10px;
		padding-left: 10px;
	}
}

